.git/
.gitattributes
.gitignore
.github/

.idea/
.vscode/
.DS_Store

build/
.svelte-kit/
/package
_pyodide/

node_modules/
backend/venv/
.venv/
venv/

__pycache__/
*.pyc
*.pyo

.env
.env.*
*.db

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

backend/data/
backend/data/*
uploads/
logs/
_old/
_test/

test/
docs/
kubernetes/
openspec/

*.log
npm-debug.log*
.ipynb_checkpoints

docker/